.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: teal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.git-followers {
  background-color: palegoldenrod;
  color: purple;
  display:flex;
  justify-content: space-between;
  margin: 2%;
  width: 80%;
}

.image {
  width: 275px;
  height: 200px;
  padding: 3%;
  margin: 2%;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 3%;
}